
/* style.css */
body{  
  color: black;
  font-size: 16px;
  font-family: 'Calibri', monospace;
}
h1{
  font-family: 'Lobster', cursive;
  color: white;
  font-weight: lighter;
  font-size: 40px;
}
h2 {
  font-family: 'Niramit', monospace;
  color: black;
  font-weight: lighter;
  font-size: 30px;
}

.images{
	width="50"
}

#Banner{
background-image: url("https://picsum.photos/1000/600?random");
height: 70vh;
text-align: center;
background-size: cover;
padding: 100px;
}

#Footer{
	padding: 23px;
	background-color: gray;
	color: white;
	font-size: 20px;
}

#Footer a{
	color: white;
	font-size: 30px;
}

.card {
	text-align: center;
	padding: 25px;
}

